<h1>Expenses</h1>

<h3>For real</h3>

<table>
  <tr>
    <th>
      Description
    </th>
    <th>
      Amount
    </th>
    <th>
      Date
    </th>
    <th>
      Categories
    </th>
    <th>
      Add a Category
    </th>
  </tr>
  <% if @expenses != nil %>
    <% @expenses.each() do |expense| %>
      <tr>
        <td>
          <%= expense.description %>
        </td>
        <td>
          <%= expense.amount %>
        </td>
        <td>
          <%= expense.date %>
        </td>
        <td>
          <ul>
            <% expense.associated_category_ids.each() do |cat_ids|%>
              <li>
                <%= "#{Category.get_category(cat_ids).name}, " %>
              </li>
            <% end %>
          <ul>
        </td>
        <td>
          <form action="/associate_category" method="post">
            <select id="category_id" name="category_id" type="text">
                <option value='nil'>Select Category</option>
              <% Category.all().each() do |category| %>
                <%= "<option value=#{category.id}>#{category.name}</option>" %>
              <% end %>
            </select>
            <%= "<input type='hidden' name='expense_id' value='#{expense.id}'>" %>
            <button type="submit">Add category</button>
          </form>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>

<h3>Create a New Expense</h3>
<form action="add_expense" method="post">
  <input type="text" placeholder="Description" name="description">
  <br>
  <input type="text" placeholder="00.00" name="amount">
  <br>
  <input type="text" placeholder="YYYY-MM-DD" name="date">
  <br>
  <br>
  <input type="submit" value="add">
</form>
